<div class="modal-content col-sm-12">

<form class="form-horizontal container" role="form"  style="margin-top: 10px; margin-left: -100px; "  #f="ngForm" novalidate>
		<div class="input-group col-sm-12">
				<label  id="basic-addon1" class="col-sm-2 control-label" >Project:</label>
		    <div class="col-sm-8">
			<input type="text" class="form-control"  id="firstName"  placeholder="Enter Project Name..." name="project" [(ngModel)]="projectAdd.project" required >
		</div></div>
		
			<div class="input-group col-sm-12"  style="margin-top: 3px; " >	
				
		<label  id="basic-addon1" class="col-sm-3 control-label col-sm-offset-1" ><input type="checkbox"  id="pstartDate2" name="projectAddcheckbox"  (ngModelChange)="onDateFlagChanged(!projectAddcheckbox)"  [(ngModel)]="projectAddcheckbox" required >Set Start and End Date</label>
				 <div class="col-sm-2">
			<input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  class="textbox-n" id="projectStartDate" [disabled]="!projectAddcheckbox" name="startDate"	[(ngModel)]="projectAdd.startDate"  placeholder="Start Date" >
			</div>
				 <div class="col-sm-2">
		<input type="text"  onfocus="(this.type='date')"  onblur="(this.type='text')" class="textbox-n" id="projectEndDate" placeholder="End Date"  [disabled]="!projectAddcheckbox" name="endDate" [(ngModel)]="projectAdd.endDate"   required >
		</div>
		</div>
				
		<div class="input-group col-sm-12">
				<label  id="basic-addon1" class="col-sm-2 control-label" >Priority:</label>
				 <div class="col-sm-8">				  
			<input type="range" class="form-control" id="priority"  min="0" max="30" step="1" value="0" name="priority"   [(ngModel)]="projectAdd.priority" oninput="outpriority.value = priority.value" required>
			<output name="outpriorityName" id="outpriority">0</output>			
		</div></div>
		
	   <div class="input-group col-sm-12">
				<label  id="basic-addon1" class="col-sm-2 control-label" >Manager:</label>
				 <div class="col-sm-6">	  
				  <select class="form-control" [(ngModel)]="userAddmanager"  name="allUserProject">				  
				 <option [ngValue]="undefined" disabled  selected>Please click on search button to view list of mangers .. </option>
   <option  *ngFor="let user of allUserProject" [value]="user.userId" >{{user.firstName+ ' '+ user.lastName}}</option>
 </select></div>
 	<div class="col-sm-4"><span type="button" class="btn btn-primary btn-sm"  (click)="onAllUserSearch()">Search</span></div>
 </div>
			
		<div class="row" style="margin-bottom: 10px;"></div>
		<div class="col-sm-10 btn-toolbar  " style="justify-content: center; display: flex;">
			<span type="button" class="btn btn-primary border-zero" (click)="onAddProject()">{{(projectAdd.projectId ==null)  ? 'Add' : 'Update'}}</span>
			<span type="button" class="btn btn-primary border-zero"(click)="onProjectReset()">Reset</span>
		</div>
		<div class="row" style="margin-bottom: 10px;"></div>
		</form>
</div>

<div class="row" style="margin-bottom: 10px;"></div>


<!--  ********************************************************************************************************************************* -->


  <div class="modal-content col-sm-12">
	 <div class="col-sm-5" style="margin-left: -30px;">
		<div >
			<input type="text" class="form-control"  style="border-radius: 0px !important;"  [(ngModel)]="searchProject" id="inlineFormInputGroupUsername2" placeholder="Search...">
		</div></div>
	  <div class="col-sm-1" type="text" ><strong>Sort: </strong></div>
	<div class="col-sm-6">
	      <div class="btn-toolbar">
		<span type="button" class="btn btn-primary btn-sm"(click)="onSortProject('startDate')">Start Date</span>
		<span type="button" class="btn btn-primary btn-sm "	(click)="onSortProject('startDate')">End Date</span>
		<span type="button" class="btn btn-primary btn-sm "	(click)="onSortProject('priority')">Priority</span>
	<span type="button" class="btn btn-primary btn-sm"	(click)="onSortProject('priority')">Completed</span></div></div>
</div>
  
  
  <!--  ********************************************************************************************************************************* -->
  
  
  <div *ngFor="let projectL of listProject | category: searchProject | orderBy: {property: column, direction: direction}">
<div class="modal-content col-sm-12" >	

   <div class="col-sm-8">
    <div class="col-sm-12" style="margin-left: -30px; padding-top:5px ;  padding-bottom:5px ;">
			<div class="input-group input-group-sm " >
				<span class="input-group-addon align-right" style="min-width:100px ; border-radius: 0px !important; border: 0px !important; font-weight: bold;" id="basic-addon1" >Project:</span>
				<input type="text" class="form-control"	id="inlineFormInputGroupUsername2"	style="border-radius: 0px !important; " placeholder="{{projectL.project}}" readonly>
			</div></div>		
	     
			 <div class="col-sm-6" style="margin-left: -30px;">
			<div class="input-group input-group-sm ">
					<span class="input-group-addon align-right" style="min-width:100px ; border-radius: 0px !important; border: 0px !important; font-weight: bold;" id="basic-addon3">No of Task:</span>
				<input type="text" class="form-control"	id="inlineFormInputGroupUsername4" style="border-radius: 0px !important; " placeholder="{{projectL.task.length}}" readonly>	
			</div></div>		
			 <div class="col-sm-6" >
			<div class="input-group input-group-sm ">
					<span class="input-group-addon align-right" style="min-width:100px ; border-radius: 0px !important; border: 0px !important; font-weight: bold;" id="basic-addon3">Completed:</span>
				<input type="text" class="form-control"	id="inlineFormInputGroupUsername4" style="border-radius: 0px !important; " placeholder="{{projectL.task.length}}" readonly>	
			</div></div>
	
	
	 <div class="col-sm-6" style="margin-left: -30px;  padding-bottom:5px ;">
			<div class="input-group input-group-sm">			
					<span class="input-group-addon align-right" style="min-width:100px ; border-radius: 0px !important; border: 0px !important; font-weight: bold;" id="basic-addon2">Start Date:</span>
				   <input type="text" class="form-control" id="inlineFormInputGroupUsername3"  style="border-radius: 0px !important; " placeholder="{{projectL.startDate}}" readonly>
			</div></div>
		
			 <div class="col-sm-6" >
			<div class="input-group input-group-sm ">
					<span class="input-group-addon align-right" style="min-width:100px ; border-radius: 0px !important; border: 0px !important; font-weight: bold;" id="basic-addon3">End Date:</span>
				<input type="text" class="form-control"	id="inlineFormInputGroupUsername4" style="border-radius: 0px !important; " placeholder="{{projectL.endDate}}" readonly>	
			</div></div>	
			
	</div>

			<div class="col-sm-2"  style="margin-left: -80px; padding-top:5px ;">
			 <div class="col-sm-12">
			<div class="input-group input-group-sm ">
					<span class="input-group-addon align-right" style="min-width:100px ; border-radius: 0px !important; border: 0px !important; font-weight: bold; " id="basic-addon3">Priority:</span>
				</div></div>
			 <div class="col-sm-12">
			<div class="input-group input-group-sm ">
				<input type="text" class="form-control  short-div"	id="inlineFormInputGroupUsername4" style="border-radius: 0px !important ; text-align: center; font-size: 38px; font-weight: bold;" placeholder="{{projectL.priority}}" readonly>	
			</div></div>
			</div>
			
						<div class="col-sm-2" style="margin-left: -30px; padding-top:10px ;">
			 <div class="col-sm-12" >
		 <div class="col-sm-12"><span type="button" class="btn btn-primary btn-sm "  style=" width:70%;" (click)="onEditProject(projectL)">Update</span></div>
				</div>
				<div class="row" style="padding-bottom:10px ;"></div>
			 <div class="col-sm-12" >
			<div class="col-sm-12"><span type="button" class="btn btn-primary btn-sm" style=" width:70%;"	(click)="onSuspendProject(projectL)">Suspend</span></div>
			
			</div>
			</div>
			
			
			
			
		</div>
	</div>

  
  
  
  
  